@font-face {
    font-family: 'SF Display';
    src: url('SFNSDisplay-Regular.woff2') format('woff2'),
        url('SFNSDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Display';
    src: url('SFNSDisplay-Medium.woff2') format('woff2'),
        url('SFNSDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Display';
    src: url('SFNSDisplay-Bold.woff2') format('woff2'),
        url('SFNSDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
