/**
 * iconos https://www.svgrepo.com/collection/kalai-oval-interface-icons/
 */
@import url('mona/stylesheet.css');

:root {
    --primary-color: #1b203e;
    --secondary-color: #3d5da7;
    --font-family-main: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --border-radius-menu: 10px;
    --border-radius-input: 5px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    html {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto
    }
}

@media only screen and (max-width: 959px) {
    html {
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        text-size-adjust: none;
        -webkit-tap-highlight-color: transparent
    }
}

html, body {
    padding: 0;
    margin: 0;
}

body, input, select, textarea, button {
    font-family: var(--font-family-main);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    -webkit-font-feature-settings: 'ss01';
    font-feature-settings: 'ss01';
    line-height: 1.8;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/** BÁSICOS */
.content {
    padding: 0;
}

.login {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.no-wrap {
    white-space: nowrap;
}

/** HEADER  */
.site-header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    /*text-transform: uppercase;*/
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.site-header h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
}

.user {
    display: flex;
    margin: 1px 0;
    justify-content: space-between;
}

.user__label, .user__name {
    font-size: 18px;
    margin: 0;
    padding: 10px 20px;
}

.user__label {
    background-color: var(--primary-color);
    color: #fff;
}

/** UI */
.menu {
    position: relative;
}

.menu__button {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu__button--dot {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}

.menu__switch {
    display: none;
}

.menu__submenu {
    position: absolute;
    right: 0px;
    top: 45px;
    background-color: #fff;
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.menu__switch:checked+.menu__submenu {
    display: flex;
}

.menu__submenu a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 0.9em;
}

.link-icon {
    display: flex !important;
    gap: 10px;
    align-items: center;
}

.link-icon:before {
    content: "";
    height: 18px;
    width: 18px;
    display: block;
    background-size: contain;
    opacity: .5;
    transition: all .1s ease-in-out;
}

.link-icon:hover:before {
    opacity: 1;
}

.link-icon--logout:before {
    background-image: url(icons/logout.svg);
}

.link-icon--families:before {
    background-image: url(icons/families.svg);
}

.link-icon--products:before {
    background-image: url(icons/products.svg);
}

.link-icon--tasks:before {
    background-image: url(icons/tasks.svg);
}

.link-icon--users:before {
    background-image: url(icons/users.svg);
}

.window {
    background-color: #f6f6f6;
    overflow: hidden;
    border-radius: calc(var(--border-radius-input) * 2);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
}

.window__header {
    padding: 10px 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 4px 4px 0 4px;
    border-radius: calc(var(--border-radius-input) * 1.5);
}

.window__content {
    padding: 20px;
}

.block {}

.block__header {
    padding: 10px 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.block__content {
    padding: 20px;
}

.message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4cb053;
    border: 1px solid #378b3d;
    color: #fff;
    border-radius: var(--border-radius-input);
    text-align: center;

    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

/** FORMS */

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form--row {
    flex-direction: row;
}

.form__group {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.form__message {
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: #b70000;
    margin: 10px 0 0 0;
}

.form__label {
    font-size: .9em;
    text-wrap: nowrap;
}

.form__input, .form__select {
    border: 1px solid #ced4da;
    padding: 6px 12px;
    border-radius: var(--border-radius-input);
    font-size: .9em;
    width: 100%;
}

.form__select {}

.form__select::-ms-expand {
    display: none;
}

.form__select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.form__button {
    width: 100%;
    border-radius: var(--border-radius-input);
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    background-color: #858585;
    border: 1px solid #5c5c5c;
    box-shadow: inset -1px -1px 0 0px rgba(0, 0, 0, .1), inset 1px 1px 0 0px rgba(255, 255, 255, .1);
    transition: all .1s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.form__button--success {
    background-color: #4ca852;
}

.form__button--warning {
    background-color: #b6721a;
}

.form__button:active, .form__button:focus {
    box-shadow: inset 1px 1px 0 0px rgba(0, 0, 0, .1), inset -1px -1px 0 0px rgba(255, 255, 255, .1);
}

.form__button:hover {
    opacity: 0.9;
}

.form__button--cancel {
    background-color: #b52424;
    color: #ffffff;
    border: 1px solid #6e1616;
}

.form_button--start {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    font-size: 50px;
    text-transform: uppercase;
    border: 10px solid #378b3d;
    background-color: #4ca852;
}

.form_button--stop {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    font-size: 50px;
    text-transform: uppercase;
    border: 10px solid #8b3737;
    background-color: #701616;
}

.form_button--stop.tracking-paused {
	border: 10px solid #a8a8a8;
	background-color: #d0d0d0;
}

/** dashboard */
.dashboard {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .dashboard {
        flex-direction: row;
    }
}

.dashboard .form {
    padding: 30px;
}

.dashboard>* {
    flex: 1;
}

.dashboard__menu {
    background-color: #f0f3f4;
}

@media (min-width: 768px) {
    .dashboard>* {
        height: calc(100vh - 65px);
        border-right: 1px dashed #efefef;
        overflow: auto;
    }

    .dashboard__menu {
        max-width: 300px;
    }
}

.dashboard__items {
    max-width: 500px;
}

.dashboard__item {}

.dashboard__title {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    background-color: #c2c2c2;
    justify-content: space-between;
    gap: 5px;
}

.dashboard__title--form {
    align-items: center;
    gap: 15px;
}

.dashboard__title--form .form__input, .dashboard__title--form .form__select {
    padding: 5px 10px;
    height: 26px;
}

.dashboard__title--label {
    font-weight: bold;
    font-size: 1.1em;
    margin-right: auto;
}

@media (min-width: 768px) {
    .dashboard__title {
        background-color: #ffffff;
        box-shadow: 0 0 15px rgba(0, 0, 0, .1);
        border-bottom: none;
    }
}

.dashboard__title--link {
    width: auto;
    padding: 1px 9px;
    font-size: 0.85em;
}

.dashboard__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 30px 0 30px;
}

.dashboard__list li {
    /*border-bottom: 1px solid #f0f0f0;*/
}

.dashboard__list--paused-trackings li {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.dashboard__list--element {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #464646;
    background-color: #fbfbfb;
    border-radius: var(--border-radius-menu);
    transition: all .1s ease-in-out;
}

.dashboard__menu .dashboard__list--element {
    background-color: transparent;
}

.dashboard__menu .dashboard__list--element:hover, .dashboard__menu .dashboard__list--element.active {
    background-color: #fff;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, .02);
}

.dashboard__items li a, .dashboard__timers .dashboard__list--element {
    font-size: .9em;
    display: flex;
    gap: 5px;
}

.dashboard__items li a strong, .dashboard__timers .dashboard__list--element strong {
    margin-right: auto;
}

.dashboard__list--label {
    font-size: 0.9em;
    padding: 1px;
}

.dashboard__list--element:hover {
    color: #000;
    background-color: #f5f5f5;
}

.dashboard__list--element.active {
    /* color: #fff; */
    background-color: #d7d7d7;
}

.dashboard__switch {
    display: none;
}

@media (max-width: 768px) {

    .dashboard__element-switch {
        display: none;
    }

    .dashboard__switch:checked+.dashboard__element-switch {
        display: flex;
    }

    .dashboard__switch:checked~.dashboard__title {
        background-color: #000;
        color: #fff;
    }
}

.timer {
    text-align: center;
    margin: 40px 0 0 0;
    font-size: 37px;
    font-family: monospace;
}

.timer__buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
    max-width: 350px;
}

.timer__button--pause {
    background-color: #df8226;
}

.timer__button--resume {
    background-color: #349147;
}

.timer__info {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.tracking-active {
    display: none;
}

.trackings__title {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
